<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="dark-mode">
    <div class="container">
        <h1>Login</h1>
        <p>Login form will go here</p>
    </div>
</body>
</html>
